section#content {
    color: white;
    position: absolute;
    top: 200px;
    left: 150px;

}

img#slide {
    width: 100%;
    height: auto;
}


*/


h6 {
	font-size: 1em;
    font-style: italic;
}

h1 {
    font-size: 1em;
    font-style: italic;
}
li{
  font-size: 2em;

}


section#about {
    width: 100%;
    height: 1309px;
    background-color: #7f95b0;
    position: absolute;
    top: 1800px;
    left: 0;
}



div.about {
	color: black;
	text-align: center;
}

div.students {
    width: 300px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 312px;
    left: 150px;
}

div.reviews {
    width: 300px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 312px;
    left: 500px;
}

div.courses {
    width: 300px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 312px;
    left: 850px;
}

div.content {
    width: 300px;
    height: 300px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 312px;
    left: 1200px;
}

div.content1 {
    width: 300px;
    height: 250px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 800px;
    left: 150px;
}




div.content2 {
    width: 650px;
    height: 250px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 800px;
    left: 500px;
}

div.content4{
    width: 300px;
    height: 250px;
    background: black;
    text-align: center;
    color: white;
    position: absolute;
    top: 800px;
    left: 1200px;
}


=================================================================================================================================================================
*/
img#slideshow1 {
    width: 25%;
    height: 35%;
    top: 1400px;
    left: 200px;
    position: absolute;
    background-color:#0d6791;


}



}
#computer {
    position: absolute;
    top: 1450px;
    left: 300px;
}

.text {
    position: absolute;
    top: 1450px;
    left: 733px;
}

#computer2 {
    position: absolute;
    top: 1650px;
    left: 300px;
}

.text2 {
    position: absolute;
    top: 850px;
    left: 733px;
}

#computer3 {
    position: absolute;
    top: 1550px;
    left: 300px;
}

.text3 {
    position: absolute;
    top: 1200px;
    left: 733px;
}


.h1lt {

    position: absolute;
    top: 100px;
    left: 614px;

}

h6 {
    font-size: 1em;
}

.h1lt {

    position: absolute;
    top: 2320px;
    left: 614px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 90px;
    background: #2a6b70;
    position: absolute;
    top: 970px;
    left: 0;
    font-style: oblique;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 2em;
}
