html
{
         margin: 0%;
         padding: 0%;
        background-color: rgb(242, 248, 247);
        color: rgb(36, 35, 35);
        font-family: 'Lato', 'Arial', sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
        font-family: 'Lato', 'Arial', sans-serif;
        font-weight: 300;
     
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
body{
    margin: 0%;
    padding: 0%;

}
.content{
    display: flex;
}
 .amz-header {
       margin: 0px; 
       padding: 0px;
       background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images7.alphacoders.com/536/536269.jpg);
       background-size: cover;
       background-position: center;
       height: 75vh; /*100% of viewport*/
       background-attachment: fixed;
       border-radius: 13px;
       


}
.amazon{
    margin: 0 30%;
    height:150px;
    width: 500px;
}
h1{

    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
}
main{
    margin: 0 3px ;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: rgb(247, 224, 183);
    border: 1px solid orangered;
    text-align: center;
    box-shadow: 0 5px 12px rgb(151, 117, 55);
    border-radius: 13px;
}

input{
    border: 1px solid orangered;
   
    
}
label{
    display: inline-block;
    text-align: justify;
   
    

}
.form {
padding: 0;
margin: 0;
}

aside{
    margin: 0 3px;
    background:linear-gradient(45deg, orangered,orange,yellow);
    float: left;
    width:310px;
    height: auto;
    border: 2px solid orangered;
    border-radius: 13px;
    box-shadow: 0 10px 12px rgb(32, 14, 32) ;
}
ul{
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}
aside li{
    display: block;
    margin: 3px 1px;
    padding: 20px;
    font-size: 24px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

}

aside li:hover{
    background-color: rgb(248, 94, 4) ;
    border-radius: 25px;
    color: white;
}

select{
  font-size: 18px;
  color: rgb(41, 40, 40);
 border: 1px solid orangered;
 border-radius: 1rem;

}
input[ type="date"]{
    border-radius: 25px;
    border-color: rgb(248, 94, 4);
    font-size: 18px;

}
.sb{
    margin-top: 10px;
    background-color: rgb(243, 200, 119);
    color: rgb(53, 6, 6);
   
    border-radius: 25px;
    width: 100px;
    height: 50px;
    border-color: orangered;
}
.sb:hover{
    background-color: orangered;
    color: white;
    cursor: pointer;
    border-color:yellow;
}
.login{
   display: none;
}
.view-books{
    padding: 3em;
    display: grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));

}
.bkimg{
padding: 0em;
border-radius: .3em;
align-content: center;
width: 100%;
justify-content: center;


} 
.bkimg1{
    padding: 0em;
    height: 25vh;
    width: 25vw;
    border-radius: .3em;
    align-content: center;
}
    .bkimg3{
        padding: 0em;
        height: 25vh;
        width: 80vw;
        border-radius: 25%;
        align-content: center;

    }
 
    .Minions{
        height: 25vh;
        width: 25vw;
    
    }
    .bkimg2{
        width: 30vh;
        padding: 0em;
    border-radius: .3em;
       
    }

.bkimg,.bkimg1:hover{
    box-shadow: 0  5px 5px rgb(245, 113, 25);
}
button{
    text-decoration-style: none;
}
.places{
    padding: 3em;
    display: grid;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
}
